<h1>Categories</h1>
<p><label>Name :</label><%= @category.name %></p>
<p><label>Slug :</label><%= @category.slug %></p>
<p><a href="<%= categories_path %>" class="btn btn-primary">Back to list of catagories</a></p>
