<h1> Detail of car </h1>

<p><label>Car Name : </label><%= @car.name %></p>
<p><label>Car Model : </label><%= @car.model %></p>
<p><label>Car Category : </label><%= @car.category.name %></p>
<p>
    <a href="<%= cars_path %>" class="btn btn-primary">Back to list of cars</a>
</p>